

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#board {
    
    margin: 48px auto;
    height: 50vh;
    width: 50vw;
    align-items: center;
    background-color: pink;
    border: 10px solid black; /* Corrected border syntax */
    position: relative;
  }

 .player {
    position: absolute;
 }
    
 .clouds{
  position: absolute;
} 

.trash{

    position: absolute;
    background-image: url("../images/giphy-trash.gif");
  }

  #start {
    font-family: 'Courier New', Courier, monospace;
 background-color: black;
 color: aliceblue;

  }


#game-over {
    display:none;
    top:0;
    left:0;
    position: absolute;
    color: black;
}
.container {display:inline-block;}

.text {
    letter-spacing: 1px;
    text-align: center;
    border-right: 5px solid;;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 5s steps(150),
    cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% {border-color: transaprent}
    
}
@keyframes typing {
    from {width:0}
}



