

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#board {
    
    margin: 48px auto;
    height: 50vh;
    width: 50vw;
    align-items: center;
    background-color: pink;
    border: 10px solid black; /* Corrected border syntax */
    position: relative;
  }

 .player {

    position: absolute;
    background-image: url("/images/giphy.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
 }
    
 .clouds{

  position: absolute;
  background-image: url("/images/giphy-coud.gif");
  background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   


}  



